/* ====================================
   All region in project
   ==================================== */


/* zone global style */

.zone {
    margin-bottom: 24px;
    &__header {
        padding: 8px;
    }
    &__title {
        font-size: 18px;
        line-height: 1.4em;
        position: relative;
        font-weight: bold;
        color: $brand-primary;
        &:hover {
            color: $brand-success;
            &::after {
                background: $brand-success;
            }
        }
    }
    &__content {
        @include clearfix();
    }
    &--grey {
        background: #F4F4F4;
        padding: 8px;
    }
    &--featured {
        background: #111;
        padding: 16px;
    }
}

// area
.area {
    @include clearfix;
    margin-top: 128px;
    &__header {
        margin-bottom: 82px;
    }
    &__title {
        font-size: 14px;
        line-height: 1.4em;
        font-weight: bold;
        display: inline-block;
        border-bottom: 4px solid #000;
        padding-bottom: 10px;
        text-transform: uppercase;
        &+.area__desc {
            margin-top: 32px;
        }
    }
    &__desc {
        font-size: 24px;
        .btn {
            margin-top: 32px;
        }
        .two-cols-md & {
            font-size: 24px;
        }
        .area__footer & {
            &::after {
                display: none;
            }
        }
    }
    &__content {
        @include clearfix;
        overflow: hidden;
        .area--video & {
            background: url(../img/video-bg.png) center top no-repeat;
            background-size: cover;
            position: relative;
            .story {
                z-index: 5;
            }
            .bg-mask {
                background: #171717;
                opacity: 0.9;
                z-index: 2;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            #video_background {
                z-index: 1;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: auto;
                overflow: hidden;
            }
        }
    }
    &__featured {
        position: relative;
        padding: 20px 40px;
        margin-bottom: 90px;
        &__title {
            font-size: 24px;
            font-weight: bold;
            @include breakpoint(sm) {
                font-size: 36px;
            }
        }
        &__text {
            font-size: 18px;
            line-height: 1.6em;
            color: white;
            @include breakpoint(sm) {
                font-size: 24px;
            }
        }
        &__bg {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
            background-size: cover;
            background-repeat: no-repeat;
        }
        @include breakpoint(sm) {
            width: 80%;
            padding: 60px 90px;
        }
    }
    &__text {
        font-size: 24px;
        margin-bottom: 64px;
        text-align: center;
        @include breakpoint(sm) {
            font-size: 32px;
        }
    }
    &__grid {
        font-size: 0;
        padding: 0 1px;
        margin-bottom: 90px;
        li {
            border: 1px solid #000;
            margin-top: -1px;
            margin-left: -1px;
            text-align: center;
            font-size: 24px;
            vertical-align: top;
            .area__icon {
                margin-bottom: 60px;
            }
        }
    }
    &__navi {
        @include clearfix;
        &__next,
        &__prev {
            padding: 48px;
            transition: all 0.2s linear;
            display: block;
            width: 50%;
            color: white;
            float: left;
            &:hover,
            &.is-active {
                background: darken($brand-primary, 10%);
            }
            &:hover {
                color: #111;
            }
        }
        &__prev {
            text-align: right;
        }
        &__text {
            margin-bottom: 28px;
            opacity: 0.5;
        }
        &__title {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 20px;
            @include breakpoint(sm) {
                font-size: 24px;
            }
        }
    }
    &--quote {
        .area__content {
            background: url(../img/quote-bg.png) center center no-repeat;
            background-size: contain;
        }
    }
    &--featured {
        .area__content {
            padding: 64px 0;
            background: $brand-primary;
        }
    }
    &--navi {
        .area__content {
            background: $brand-primary;
        }
    }
    &--listing,
    &--grid {
        margin-top: 0;
        .area__header {
            margin-bottom: 32px;
            @include breakpoint(md) {
                margin-bottom: 64px;
            }
        }
        .area__desc {
            padding-bottom: 32px;
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 50%;
                height: 1px;
                background: #000;
                position: absolute;
                bottom: 0;
                left: 0%;
            }
            @include breakpoint(md) {
                width: 50%;
                padding-bottom: 64px;
            }
        }
    }
    &--grid {
        .area__desc {
            padding-bottom: 0;
            &::after {
                display: none;
            }
        }
    }
}

// ads
.qc {
    @include clearfix();
    margin-bottom: 24px;
    text-align: center;
}